.line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0%;
  height: 1px;
  background: hsl(41 100% 62%);
  z-index: 2;
}

@keyframes lineStrike {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
